:root {
  --primary-color: #ee4d2d;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --border-color: #dbdbdbdb;
  --star-gold-color: #ffce3e;

  --header-height: 136px;
  --navbar-height: 35px;
  --header-with-search-height: calc(
    var(--header-height) - var(--navbar-height)
  );
  --header-sort-bar-height: 46px;
  /* Add more here */
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* 10px */
  line-height: 1.6rem;
  /* 16px */
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

/* Responsive */
.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

/* Test */
.grid__column-2 {
  padding-left: 5px;
  padding-right: 5px;
  width: 16.6667%;
}

.grid__column-4 {
  padding-left: 5px;
  padding-right: 5px;
  width: 33.3333%;
}

.grid__column-8 {
  padding-left: 5px;
  padding-right: 5px;
  width: 66.6667%;
}

.grid__column-10 {
  padding-left: 5px;
  padding-right: 5px;
  width: 83.3333%;
}

.grid__column-2-4 {
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes growth {
  from {
    transform: scale(var(--growth-form));
  }

  to {
    transform: scale(var(--growth-to));
  }
}

/* Modal */
.modal {
  --growth-form: 0.8;
  --growth-to: 1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  animation: growth linear 0.1s;
  z-index: 10;
  display: none;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
  margin: auto;
  position: relative;
  z-index: 1;
}

.btn {
  min-width: 124px;
  height: 34px;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  font-size: 1.5rem;
  padding: 0 12px;
  outline: none;
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--white-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1.6rem;
}

.btn.btn--normal:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--size-s {
  height: 32px;
  font-size: 1.2rem;
  padding: 0 8px;
}

.btn.btn--primary {
  color: var(--white-color);
  background-color: var(--primary-color);
}

.btn.btn--disabled {
  cursor: default;
  background-color: #c3c3c3;
  color: #949494;
}

/* Selection */
.select-input {
  min-width: 200px;
  height: 34px;
  padding: 0 12px;
  border-radius: 2px;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.select-input::after {
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  position: absolute;
  top: 96%;
  left: 0;
}

.select-input:hover .select-input__list {
  display: block;
}

.select-input__label {
  font-size: 1.4rem;
}

.select-input__icon {
  font-size: 1.4rem;
  color: rgb(131, 131, 131);
  position: relative;
  top: 1px;
}

.select-input__list {
  position: absolute;
  left: 0;
  right: 0;
  top: 26px;
  border-radius: 2px;
  background-color: var(--white-color);
  padding: 10px 16px;
  list-style: none;
  display: none;
}

.select-input__link {
  font-size: 1.4rem;
  color: var(--text-color);
  text-decoration: none;
  display: block;
  padding: 8px 0;
}

.select-input__link:hover {
  color: var(--primary-color);
}

/* Pagination */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.pagination-item {
  margin: 0 16px;
}

.pagination-item--active .pagination-item__link {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.pagination-item--active .pagination-item__link:hover {
  opacity: 0.9;
}

.pagination-item__link {
  --height: 30px;
  display: block;
  text-align: center;
  line-height: var(--height);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 300;
  color: #939393;
  min-width: 40px;
  height: var(--height);
  border-radius: 2px;
}
.pj{
	font-size: 100px;
}
