.app {
  overflow: hidden;
}

.header {
  height: var(--header-height);
 background-image: linear-gradient(0, #27201f, #1b0d0d);  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  height: var(--navbar-height);
}

.header__navbar-list {
  list-style: none;
  padding-left: 0;
  margin: 8px 0 0 0;
  display: flex;
}

.header__navbar-item {
  margin: 0 8px;
  position: relative;
  min-height: 26px;
}

.header__navbar-user {
  display: flex;
  align-items: center;
  position: relative;
}

.header__navbar-user:hover .header__navbar-user-menu {
  display: block;
}

.header__navbar-user-img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-name {
  margin-left: 4px;
  font-size: 1.4rem;
  font-weight: 400;
}

.header__navbar-user-menu {
  position: absolute;
  z-index: 1;
  padding-left: 0;
  top: calc(100% + 6px);
  right: 0;
  background-color: var(--white-color);
  border-radius: 2px;
  width: 160px;
  list-style: none;
  box-shadow: 0 1px 2px #e0e0e0;
  display: none;
}

.header__navbar-user-menu::before {
  content: "";
  border-width: 12px 15px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 20px;
  top: -22px;
}

.header__navbar-user-menu::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: -8px;
  width: 65%;
  height: 10px;
}

.header__navbar-user-item--separate {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header__navbar-user-item a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  padding: 8px 16px;
  display: block;
}

.header__navbar-user-item a:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.header__navbar-user-item a:hover {
  background-color: #fafafa;
}

.header__navbar-item--has-qr:hover .header__qr {
  display: block;
}

.header__navbar-item--has-notify:hover .header__notify {
  display: block;
}

.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.3rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  display: flex;
  align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.header__navbar-item--bold {
  font-weight: 400;
}

.header__navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 16px;
  background-color: #fb9086;
  right: -9px;
  top: 50%;
  transform: translateY(-50%);
}

.header__navbar-icon-link {
  color: var(--white-color);
  text-decoration: none;
}

.header__navbar-icon-link:nth-child(2) {
  margin-left: 3px;
}

.header__navbar-icon {
  font-size: 1.8rem;
  margin: 0 4px;
}

.header__navbar-title--no-pointer {
  cursor: text;
  color: var(--white-color);
}

/* Header QR code */
.header__qr {
  width: 186px;
  background-color: var(--white-color);
  position: absolute;
  left: 0;
  top: 130%;
  padding: 8px;
  border-radius: 2px;
  display: none;
  animation: fadeIn ease-in 0.3s;
  z-index: 3;
  box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
}

.header__qr::before {
  position: absolute;
  left: 0;
  top: -16px;
  width: 100%;
  height: 20px;
  content: "";
  display: block;
}

.header__qr-img {
  width: 100%;
}

.header__qr-apps {
  display: flex;
  justify-content: space-between;
}

.header__qr-link:nth-child(1) {
  margin-left: 11px;
}

.header__qr-link:nth-child(2) {
  margin-right: 14px;
}

.header__qr-download-img {
  height: 16px;
}

/* Header Notification */
.header__notify {
  position: absolute;
  z-index: 3;
  top: 130%;
  right: 0;
  width: 404px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background-color: var(--white-color);
  cursor: default;
  transform-origin: calc(100% - 32px) top; /* Thay tâm animation */
  animation: headerNotifyGrowth ease-in 0.2s;
  will-change: opdacity, transform;
  display: none;
}

.header__notify::before {
  content: "";
  border-width: 12px 15px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 10px;
  top: -24px;
}

.header__notify::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: -14px;
  width: 90px;
  height: 13px;
}

@keyframes headerNotifyGrowth {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.header__notify-header {
  height: 40px;
  background-color: var(--white-color);
  user-select: none;
}

.header__notify-header h3 {
  color: #999;
  margin: 0 0 0 12px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 40px;
}

.header__notify-list {
  padding-left: 0;
}

.header__notify-item {
  display: flex;
}

.header__notify-item:hover {
  background-color: #f1f1f1;
}

.header__notify-item--viewed {
  background-color: rgba(238, 77, 45, 0.1);
}

.header__notify-link {
  display: flex;
  width: 100%;
  padding: 12px;
  text-decoration: none;
}

.header__notify-img {
  width: 48px;
  object-fit: contain;
}

.header__notify-info {
  margin-left: 12px;
}

.header__notify-name {
  display: block;
  font-size: 1.6rem;
  color: var(--black-color);
  font-weight: 400;
  line-height: 1.9rem;
}

.header__notify-description {
  display: block;
  font-size: 1.4rem;
  color: #756f6e;
  line-height: 1.6rem;
  margin-top: 5px;
}

.header__notify-footer-btn {
  text-decoration: none;
  color: var(--text-color);
  width: 100%;
  padding: 8px 0;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  display: block;
}

/* Authen modal */
.auth-form {
  width: 500px;
  background-color: var(--white-color);
  border-radius: 5px;
  overflow: hidden;
}

.auth-form__container {
  padding: 0 32px;
}

.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  margin-top: 12px;
}

.auth-form__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}

.auth-form__switch-btn {
  font-size: 1.6rem;
  color: var(--primary-color);
  cursor: pointer;
}

.auth-form__input {
  width: 100%;
  height: 40px;
  margin-top: 16px;
  padding: 0 12px;
  font-size: 1.4rem;
  border-radius: 2px;
  border: 1px solid var(--border-color);
  outline: none;
}

.auth-form__input:focus {
  border-color: #888;
}

.auth-form__aside {
  margin-top: 20px;
}

.auth-form__policy-text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
  padding: 0 12px;
}

.auth-form__text-link {
  text-decoration: none;
  color: var(--primary-color);
}

.auth-form__controls {
  margin-top: 80px;
  display: flex;
  justify-content: end;
}

.auth-form__controls-back {
  margin-right: 8px;
}

.auth-form__socials {
  background-color: #f5f5f5;
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
}

.auth-form__socials-icon {
  font-size: 1.8rem;
}

.auth-form__socials--facebook {
  color: var(--white-color);
  background-color: #3a5a98;
}

.auth-form__socials--facebook .auth-form__socials-icon {
  color: var(--white-color);
}

.auth-form__socials-title {
  margin: 0 36px;
}

.auth-form__socials--google {
  background-color: var(--white-color);
  color: #666;
}

.auth-form__help {
  display: flex;
  justify-content: flex-end;
}

.auth-form__help-link {
  text-decoration: none;
  font-size: 1.4rem;
  color: #939393;
}

.auth-form__help-separate {
  display: block;
  height: 22px;
  margin: -2px 16px 0px;
  border-left: 1px solid #eaeaea;
}

.auth-form__help-forgot {
  color: var(--primary-color);
}

/* Header with search */
.header-with-search {
  height: var(--header-with-search-height);
  /* height: 85px; */
  display: flex;
  align-items: center;
  margin: 0 8px;
}

.header__mobile-search {
  padding: 0 12px;
  display: none;
}

.header__mobile-search-icon {
  font-size: 2.4rem;
  color: var(--white-color);
}

.header__logo {
  width: 200px;
}

.header__logo-link {
  color: transparent;
  text-decoration: none;
  display: block;
  line-height: 0;
}

.header__logo-img {
  width: 150px;
  color: var(--white-color);
}

.header__search {
  flex: 1;
  height: 40px;
  border-radius: 2px;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header__cart {
  width: 150px;
  text-align: center;
}

.header__cart-wrap {
  position: relative;
  display: inline-block;
  padding: 0 12px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.header__cart-wrap:hover .header__cart-list {
  display: block;
}

.header__cart-icon {
  font-size: 2.4rem;
  color: var(--white-color);
  margin-top: 4px;
}

.header__cart-list {
  position: absolute;
  top: calc(100% + 8px);
  right: -3px;
  background-color: var(--white-color);
  width: 400px;
  border-radius: 2px;
  box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
  display: none;
  animation: fadeIn ease-in 0.2;
  cursor: default;
  z-index: 2;
}

.header__cart-heading {
  text-align: left;
  margin: 16px 0 8px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}

.header__cart-list-item {
  padding-left: 0;
  list-style: none;
  max-height: 56vh;
  overflow-y: auto;
}

.header__cart-item {
  display: flex;
  align-items: center;
}

.header__cart-item:hover {
  background-color: #f8f8f8;
}

.header__cart-img {
  width: 42px;
  margin: 12px;
  border: 1px solid #e8e8e8;
}

.header__cart-item-info {
  flex: 1;
  margin-right: 12px;
}

.header__cart-item-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__cart-item-name {
  flex: 1;
  padding-right: 16px;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: left;
  color: var(--text-color);
  margin: 0;
  line-height: 1.6rem;
  max-height: 3.2rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.header__cart-item-price {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--primary-color);
}

.header__cart-item-multiply {
  font-size: 0.9rem;
  margin: 0 4px;
  color: #757575;
}

.header__cart-item-qnt {
  font-size: 1.2rem;
  color: #757575;
}

.header__cart-item-body {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.header__cart-item-description {
  color: #757575;
  font-size: 1.2rem;
  font-weight: 300;
}

.header__cart-item-remove {
  color: var(--text-color);
  font-size: 1.4rem;
}

.header__cart-item-remove:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.header__cart-view-cart {
  float: right;
  margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover {
  opacity: 0.9;
}

.header__cart-list::before {
  content: "";
  position: absolute;
  right: 8px;
  top: -18px;
  border-width: 10px 16px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  cursor: pointer;
}

.header__cart-list::after {
  content: "";
  position: absolute;
  right: 0;
  top: -12px;
  display: block;
  height: 15px;
  width: 60px;
}

.header__cart-list--no-cart {
  padding: 24px 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-no-cart-msg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header__cart-no-cart-img {
  width: 54%;
  display: none;
}

.header__cart-no-cart-msg {
  display: none;
  font-size: 1.4rem;
  margin-top: 14px;
  color: var(--text-color);
}

.header__cart-notice {
  position: absolute;
  padding: 3px 6px;
  font-size: 1.4rem;
  line-height: 1.4rem;
  border-radius: 50%;
  border: 2px solid #ee4d2d;
  background-color: var(--white-color);
  color: var(--primary-color);
  top: -10px;
  right: -2px;
}

.header__search-suggest-list {
  width: 100%;
  list-style: none;
  display: flex;
  padding-left: 0;
  margin: 8px 0 0 0;
}

.header__search-suggest-link {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--white-color);
  display: inline-block;
  margin: 0 7px;
}

.header__search-suggest-list-item:first-child .header__search-suggest-link {
  margin-left: 0;
}

.header__search-input-wrap {
  flex: 1;
  height: 100%;
  position: relative;
}

.header__search-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: var(--text-color);
  padding: 0 16px;
  border-radius: 2px;
}

.header__search-select {
  border-left: 1px solid #e8e8e8;
  padding-left: 16px;
  position: relative;
  cursor: pointer;
}

.header__search-select-label {
  font-size: 1.4rem;
  color: var(--text-color);
}

.header__search-select-icon {
  font-size: 1.4rem;
  color: #606060;
  margin: 0 16px 0 8px;
  position: relative;
  top: 2px;
}

.header__search-btn {
  background-color: var(--primary-color);
  border: none;
  width: 60px;
  height: 34px;
  border-radius: 2px;
  margin-right: 3px;
  outline: none;
  cursor: pointer;
}

.header__search-btn:hover {
  opacity: 0.8;
}

.header__search-btn-icon {
  font-size: 1.3rem;
  color: var(--white-color);
}

.header__search-select:hover .header__search-option {
  display: block;
}

.header__search-option {
  position: absolute;
  z-index: 1;
  top: 120%;
  right: 0;
  width: 130px;
  list-style: none;
  padding-left: 0;
  box-shadow: 0 1px 2px #e0e0e0;
  border-radius: 2px;
  display: none;
  animation: fadeIn ease-in 0.1s;
}

.header__search-option::before {
  content: "";
  display: block;
  width: 100%;
  height: 25px;
  position: absolute;
  top: -18px;
}

.header__search-option-item {
  background-color: var(--white-color);
  padding: 8px 8px;
}

.header__search-option-item:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.header__search-option-item:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.header__search-option-item:hover {
  cursor: pointer;
  background-color: #fafafa;
}

.header__search-option-item span {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-left: 8px;
}

.header__search-option-item i {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin-left: 12px;
  display: none;
}

.header__search-option-item--active i {
  display: inline-block;
}

.header__search-input:focus ~ .header__search-history {
  display: block;
}

/* Search History */
.header__search-history {
  position: absolute;
  z-index: 2;
  top: calc(100% + 2px);
  left: 0;
  width: calc(100% - 16px);
  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: 0 1px 5px rgb(181, 181, 181);
  overflow: hidden;
  display: none;
}

.header__search-history-heading {
  margin: 10px 15px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}

.header__search-history-list {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

.header__search-history-item {
  height: 38px;
  padding: 0 15px;
}

.header__search-history-item:hover {
  background-color: #fafafa;
}

.header__search-history-item a {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--text-color);
  line-height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__search-history-item img {
  height: 24px;
}

/* App banner */
.app__banner {
  padding-top: var(--header-height);
}

.app__banner-content {
  margin-top: 30px;
}

.full-home-banners__main {
  position: relative;
}

.full-home-banners__main:hover .full-home-banners__main-controls i {
  display: flex;
}

.full-home-banners__main-item {
  display: none;
  animation: fadeIn linear 1s;
}

.full-home-banners__main-item.active {
  display: block;
}

.full-home-banners__main-item img {
  width: 100%;
  height: 235px;
  border-radius: 2px;
}

.full-home-banners__main-controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.full-home-banners__main-controls i {
  width: 35px;
  height: 60px;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--white-color);
  animation: fadeIn ease-in 0.2s;
}

.full-home-banners__main-controls i:first-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.full-home-banners__main-controls i:last-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.full-home-banners__main-controls i:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
}

.full-home-banners__main-indicators {
  position: absolute;
  bottom: 14px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.full-home-bannders__main-dot {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  border: 0.1px solid rgba(0, 0, 0, 0.3);
  width: 10px;
  height: 10px;
  margin: 0 5px;
  cursor: pointer;
}

.full-home-bannders__main-dot.active {
  background-color: var(--primary-color);
  border: 0;
}

.full-home-banners__right-link {
  display: block;
  width: 100%;
}

.full-home-banners__right-link:nth-child(2) {
  margin-top: 5px;
}

.full-home-banners__right-img {
  height: 115px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 2px;
}

.app__banner-list {
  padding-left: 0;
  margin-top: 30px;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
}

.banner-list__item {
  width: 100px;
  height: 90px;
}

.banner-list__link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.3rem;
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.banner-list__img {
  width: 45px;
  height: 45px;
  background-repeat: none;
  background-size: cover;
}

.banner-list__title {
  text-align: center;
  padding: 10px 0;
}

/* Header sort bar */
.header__sort-bar {
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  height: var(--header-sort-bar-height);
  background-color: var(--white-color);
  list-style: none;
  margin: 0;
  padding-left: 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  display: none;
}

.header__sort-item {
  flex: 1;
}

.header__sort-link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  display: block;
  height: 100%;
  line-height: var(--header-sort-bar-height);
  text-align: center;
  position: relative;
}

.header__sort-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 60%;
  border-left: 1px solid #e5e5e5;
  transform: translateY(-50%);
}

.header__sort-item--active .header__sort-link {
  color: var(--primary-color);
}

.header__sort-item:first-child .header__sort-link::before {
  display: none;
}

/* App container */
.app__container {
  background-color: #f5f5f5;
}

.app_content {
  padding-top: 20px;
}

.category {
  background-color: var(--white-color);
  border-radius: 2px;
}

.category__heading {
  color: var(--text-color);
  font-size: 1.7rem;
  font-weight: 400;
  margin: 0 0;
  padding: 18px 16px 8px;
  text-transform: uppercase;
}

.category-list {
  padding: 0 0 8px 0;
  list-style: none;
}

.category-item {
  position: relative;
}

.category-item:first-child::before {
  display: none;
}

.category-item::before {
  content: "";
  border-top: 1px solid #e1e1e1;
  position: absolute;
  top: 0;
  left: 24px;
  right: 24px;
}

.category-item--active .category-item__link {
  color: var(--primary-color);
}

.category-item__link {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--text-color);
  padding: 12px 24px;
  display: block;
  position: relative;
}

.category-item__link:hover {
  color: var(--primary-color);
}

/* Mobile Category */
.mobile-category {
  display: none;
}

.mobile-category__list {
  display: flex;
  list-style: none;
  padding-left: 0;
  max-width: 100%;
  overflow-x: auto;
}

.mobile-category__list::-webkit-scrollbar {
  display: none;
}

.mobile-category__item {
  flex-shrink: 0;
  margin-right: 10px;
}

.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link {
  background-color: #88cf81;
}

.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link {
  background-color: #76c9bd;
}

.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link {
  background-color: #87afd8;
}

.mobile-category__link {
  --line-height: 2rem;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-decoration: none;
  color: var(--white-color);
  font-size: 1.4rem;
  line-height: var(--line-height);
  height: calc(var(--line-height) * 2);
  overflow: hidden;
  text-align: center;
  width: 110px;
  border-radius: 5px;
  font-weight: 300;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  padding: 0 6px;
}

/* Home sort + filter */
.home-filter {
  display: flex;
  align-items: center;
  padding: 12px 22px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.05);
}

.home-filter__label {
  color: #555;
  font-size: 1.4rem;
  margin-right: 16px;
}

.home-filter__btn {
  margin-right: 12px;
  min-width: 92px;
}

.home-filter__page {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.home-filter__page-num {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-right: 22px;
}

.home-filter__page-current {
  color: var(--primary-color);
}

.home-filter__page-control {
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  width: 72px;
  height: 36px;
  box-shadow: 0 1px 2px #e0e0e0;
}

.home-filter__page-btn {
  flex: 1;
  background-color: var(--white-color);
  display: flex;
  text-decoration: none;
}

.home-filter__page-btn-disabled {
  background-color: #f9f9f9;
  cursor: default;
}

.home-filter__page-btn-disabled .home-filter__page-icon {
  color: #ccc;
}

.home-filter__page-btn:first-child {
  border-right: 1px solid #eee;
}

.home-filter__page-icon {
  margin: auto;
  font-size: 1.4rem;
  color: #555;
}

/* Product item */
.home-product {
  margin-bottom: 10px;
}

.home-product-item {
  background-color: var(--white-color);
  margin-top: 10px;
  position: relative;
  border-radius: 2px;
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.1);
  transition: transform linear 0.1;
  will-change: transform;
}

.home-product-item:hover {
  transform: translateY(-1px);
  box-shadow: 0 0.0625rem 20px 0 rgba(0, 0, 0, 0.05);
}

.home-product-item__img {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.home-product-item__name {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color);
  line-height: 1.8rem;
  height: 3.6rem;
  margin: 10px 10px;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  /* text-overflow: ellipsis;
    white-space: nowrap; */
}

.home-product-item__price {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.home-product-item__price-old {
  margin-left: 10px;
  font-size: 1.2rem;
  color: #666;
  text-decoration: line-through;
}

.home-product-item__price-current {
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-left: 10px;
}

.home-product-item__action {
  display: flex;
  justify-content: space-between;
  margin: 16px 10px;
}

.home-product-item__like {
  font-size: 1.3rem;
}

i.home-product-item__like-icon-fill {
  color: #f63d30;
  display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
  display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
  display: none;
}

.home-product-item__rating {
  font-size: 1rem;
  transform: scale(0.9);
  transform-origin: right;
  color: rgba(0, 0, 0, 0.3);
  margin: -1px 0 0 auto;
}

.home-product-item__star--gold {
  color: var(--star-gold-color);
}

.home-product-item__sold {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-left: 8px;
}

.home-product-item__origin {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  color: #595959;
  font-size: 1.2rem;
  font-weight: 300;
  padding-bottom: 8px;
}

.home-product-item__favourite {
  position: absolute;
  top: 10px;
  left: -4px;
  color: var(--primary-color);
  background-color: currentColor;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
  padding-right: 4px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.home-product-item__favourite::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  border-top: 3px solid currentColor;
  border-left: 3px solid transparent;
  filter: brightness(60%);
}

.home-product-item__favourite i {
  font-size: 0.9rem;
  margin: 0 1px 0 6px;
  color: var(--white-color);
}

.home-product-item__favourite span {
  color: var(--white-color);
}

.home-product-item__sale-off {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 36px;
  background-color: rgba(255, 216, 64, 0.94);
  text-align: center;
  border-top-right-radius: 2px;
}

.home-product-item__sale-off::after {
  content: "";
  position: absolute;
  top: 99%;
  left: 0;
  border-width: 0 20px 4px;
  border-style: solid;
  border-color: transparent rgba(255, 216, 64, 0.94) transparent
    rgba(255, 216, 64, 0.94);
}

.home-product-item__sale-off-percent {
  color: #ee4d2d;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2rem;
}

.home-product-item__sale-off-label {
  color: var(--white-color);
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.4rem;
}

/* Pagination */
.home-product__pagination {
  margin-top: 44px;
  margin-bottom: 32px;
  padding-left: 0;
}

/* Footer */
.footer {
  border-top: 4px solid var(--primary-color);
  padding-top: 16px;
  background-color: var(--white-color);
}

.footer__heading {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--text-color);
}

.footer-list {
  padding-left: 0;
  list-style: none;
}

.footer-item__link {
  display: block;
  text-decoration: none;
  font-size: 1.2rem;
  color: #737373;
  padding: 6px 0;
  display: flex;
  align-items: center;
}

.footer-item__link:hover {
  color: var(--primary-color);
}

.footer-item__icon {
  font-size: 1.6rem;
  margin-top: -1px;
  margin-right: 8px;
}

.footer__download {
  display: flex;
}

.footer__download-qr {
  width: 80px;
  height: 80px;
  border: 1px solid var(--border-color);
}

.footer__download-apps {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__download-app-link {
  text-decoration: none;
  color: transparent;
}

.footer__download-app-img {
  height: 28px;
}

.footer__bottom {
  margin-top: 32px;
  padding: 18px 0;
  background-color: #f5f5f5;
}

.footer_text {
  margin: 0;
  font-size: 1.4rem;
  text-align: center;
}

#login-model-checkbox:checked ~ .login-modal {
  display: flex;
}
